/***************************************RESET CSS ***********************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #121212;
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

:root {
  --azzuro:  #00bbf9;
  --banana: #fee440;
   --travel-dark: #121212;
  --travel-navy: #033c4f;
  --travel-deep: #062631;
  --white: #ffffff;
  --indie: "Indie Flower";
}

/*********************STYLE PAGINA*********************/

/* .slackey-regular {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .unkempt-regular {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-style: normal;
} */

/* .gorditas-regular {
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-style: normal;
}
*/
/* .indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
} */

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.header-section {
  width: 100%;
  height: 500px;
  padding: 1rem 2rem;
  display: flex;
}

.right-header {
  width: 50%;
  height: 100%;
  background-color: #00bbf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -40px;
}
.logo img {
  width: 100%;
}

.title-header {
  width: 100%;
  height: 220px; /* Aumentato leggermente per dare respiro a testo + aereo */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Allinea verticalmente titolo e tracciato */
  justify-content: center;
  align-items: center;
}

.title-header h3 {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7.6rem;
  position: relative;
}
.left-header {
  width: 50%;
  height: 100%;
  background-color: #fee440;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 20px 60px;
}
.slogan {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -60px;
}

.slogan p {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  color: #062631;
}

.button-header {
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* From Uiverse.io by himanshu9682 */
.type--A {
  --line_color: #033c4f;
  --back_color: #00bbf9;
}
.type--B {
  --line_color: #033c4f;
  --back_color: #00bbf9;
}
.type--C {
  --line_color: #033c4f;
  --back_color: #00bbf9;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}



.split-text-container {
  display: flex;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}

.text-part {
  display: inline-block;
  transform: translateX(0);
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.text-part.left {
  transform: translateX(-200%);
  animation-name: slide-in-left;
}

.text-part.right {
  transform: translateX(200%);
  animation-name: slide-in-right;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}


.title-header .plane {
  position: absolute;
  top: 0;
  left: -140px; 
  width: 120px;
  height: 40px;
  animation-name: flyUnderTitle;
  animation-duration: 12s; 
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1; 
}

.title-header .plane-track {
  position: absolute;
  bottom: 15px; /* Posizionalo sotto il testo (regola a piacimento) */
  left: 0;
  width: 100%;
  height: 50px;
  overflow: visible; /* Permette all'aereo di entrare e uscire dai margini dello schermo */
  pointer-events: none; /* Evita che blocchi eventuali click sul testo */
}

.plane img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes flyUnderTitle {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(calc(100% + 120px));
  }
}



.cards-container{
  width: 100%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
}


.trips-container{
  width: 90%;
  min-height: 500px;
  padding: 1rem 2rem;
  border: 2px solid white;
  box-shadow: 8px 12px 2px rgb(255, 255, 255);
}

.title-cards{
  height: 20%;
  width: 100%;
  text-align: center;
}

.title-cards h3{
 font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style:normal;
  font-size: 2.3rem;
}


.cards-sequence {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}

.card {
  width: calc(33.333% - 20px);
  min-width: 280px;
  max-width: 320px;
  height: 220px;

  position: relative;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
   fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-style:normal;
  backdrop-filter: blur(4px);
  
}

.card:hover .card__content {
  opacity: 1;
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 0.8rem;
  color: var(--travel-dark);
  line-height: 1.4;
}


.card-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
}


/* From Uiverse.io by arieshiphop */ 
button {
 font-size: 12px;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: dodgerblue;
 color: white;
 border-radius: 4px;
}

button:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:active {
 transform: translate(0em, 0.2em);
}


.logo-div img{
    width: 20%;
}

/*********************STYLE SECTION*********************/
.about-section {
  padding: 40px 20px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1100px; 
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-text {
  max-width: 100%;
}

.about-text h2 {
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

.about-text p {
  font-size: 18px;
  line-height: 1.7;
  text-align:left;
}

/********************* STYLE SECTION (ABOUT 3 CARDS) *********************/
.about-section {
  background-color: #fdfdfd; /* Uno sfondo quasi bianco per far risaltare le card */
}

/* Stile card */
.about-section .card {
  border-radius: 16px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
}

/* Effetto al passaggio del mouse */
.about-section .card:hover {
  transform: translateY(-5px); /* La card si solleva */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08)
}

/* Cerchio colorato opzionale attorno alle icone/emoji */
.card-icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #eef2ff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section .card-title {
  color: #212529;
}

.small-text {
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

/*********************STYLE FOOTER*********************/
.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/************Bottone: ciao come posso aiutarti?*/
/* bottone */
.chat-float {
    position: fixed;
    bottom: 25px;
    right: 25px;

    background: #0d6efd;
    color: white;

    border: none;
    border-radius: 50px;

    padding: 12px 16px;

    cursor: pointer;
    z-index: 9999;

    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* chat box */
.chat-box {
    position: fixed;
    bottom: 90px;
    right: 25px;

    width: 320px;
    height: 420px;

    background: white;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;

    overflow: hidden;

    z-index: 9999;

    
}

/* nascosta */
.hidden {
    display: none;
}

.chat-header {
    background: #0d6efd;
    color: white;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f8f9fa;
}


.chat-footer {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.chat-footer button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/*************** messaggi assistenza ***********/
.bot-msg {
    background: #e9ecef;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.user-msg {
    background: #0d6efd;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-left: auto;
    margin-bottom: 5px;
    width: fit-content;
}
@keyframes flyUnderTitle {
  0% {
    left: -140px;
    transform: translateY(10px) rotate(5deg);
  }
  50% {
    transform: translateY(-5px) rotate(0deg);
  }
  100% {
    left: 110%; /* Supera la fine del viewport a destra */
    transform: translateY(10px) rotate(-5deg);
  }
}


/**************** ABOUT SECTION ISOLATA *****************/

.travel-about-section {
  padding: 60px 20px;
  background-color: var(--travel-dark);
}

.travel-about-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.travel-about-header {
  text-align: center;
  margin-bottom: 40px;
}

.travel-about-header h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 10px;
}

.travel-about-header p {
  color: var(--white);
}

/**************** GRID *****************/
.travel-about-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/**************** CARD (ISOLATA) *****************/
.travel-about-card {
  width: 30%;
  background: #ffffff;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s ease;
   box-shadow: 8px 12px 12px rgb(78, 76, 76);
}

.travel-about-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.12);
}

.travel-about-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.travel-about-card h3 {
  margin-bottom: 10px;
  color: var(--travel-dark);

}

.travel-about-card p {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style:normal;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--travel-dark);
}


.footer{
  color: var(--white);
  background-color: var(--travel-dark);
  width: 100%;
  height: 20%;
  font-family: var(--indie);
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-footer{
  border-top: 2px solid var(--white);
  padding: 20px 0px;
  width: 80%;
  height: 100%;
}

